@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

* {
  font-family: Gt american;
  box-sizing: border-box;
}

/* 루트값 */

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 */

.header {
  font-size: 24px;
}

/* 헤더바 */
.header-bar {
  background-color: #000;
  padding: 16px 103px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.home-menu {
  color: #fff;
  display: flex;
  align-items: center;
}

.abstract-a {
  display: flex;
  align-items: center;
  transition: opacity 300ms 0ms;
}

.abstract-a:hover, .abstract-a:focus {
  opacity: 0.8;
}
.header-logo {
  width: 32px;
  height: 32px;
}

.abstract {
  display: block;
  padding: 0 13px 4px 8px;
}

.help-center {
  display: inline-block;
  border-left: 2px solid #fff;
  padding:0 0 4px 13px;
}

.help-center:hover {
  text-decoration: underline;
}

.member {
  display: flex;
  gap: 15px;
}

.request {
  color: #fff;
  background-color: #212121;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 4px 22px 6px;
}

.sign {
  color: #fff;
  background-color: #4C5FD5;
  border-radius: 5px;
  border: 1px solid #4C5FD5;
  padding: 4px 24px 6px;
  transition: background-color 400ms 0ms, color 400ms 0ms;
}

.sign:hover, .sign:focus {
  background-color: #fff;
  color: black;
}

/* 검색 칸 */
.search-bar {
  background: #dadbf1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 80px 30px 115px;
  font-size: 80px;
}

.search-bar p {
  letter-spacing: 0px;
}

#search {
  margin-top: 16px;
  font-size: 20px;
  padding: 16px 16px 18px 16px;
  width: 720px;
  border: 1px solid #000;
  border-radius: 4px;
  line-height: 1;
  outline: none;
  background-image: url(../image/right-arrow-alt-regular-24black.png);
  background-repeat: no-repeat;
  background-position: 98% center;
  transition: background-image 300ms 0ms, border 300ms 0ms;
  box-shadow: 2px 3px 10px #4C5FD5;
}

#search:hover, #search:focus {
  background-image: url(../image/right-arrow-alt-regular-24.png);
  border: 1px solid #4C5FD5;
}

/* 메인 섹션*/

.section-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 144px 192px 144px 220px;
  font-size: 24px;
}

.section-collection a{
  color: #4C5FD5;
}

.section-collection [class*="section"] {
  width: 50%;
}

.section-collection dl{
  padding: 0 0 100px 120px;
  position: relative;
}

.section-collection img{
  position: absolute;
  top: 0;
  left: 0;
}

.section-collection dt{
  font-weight: 700;
  margin-bottom: 16px;
}

.add-explanation {
  margin-bottom: 20px;
}

section a:hover, section a:focus {
  text-decoration: underline;
}

/* 푸터 */

.footer {
  background: #000;
  color: #fff;
  padding: 3% 12% 3% 6%;
  height: 440px;
  position: relative;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 25%;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-list {
  font-size: 16px;
  font-weight: 550;
}

.footer-list a:hover, .footer-list a:focus {
  text-decoration: underline;
}

.address {
  margin-top: 38px;
  font-size: 16px;
}

.contact-us{
  font-weight: 700;
}

.small {
  position: absolute;
  right: 6%;
  bottom: 18%;
  font-size: 20px;
}

.small img {
  display: block;
  margin-bottom: 25px;
}